<main>
<section class="col-xs-12 col-sm-4 col-lg-3">
    <li>
        <h3><a href="https://github.com/HristoVutov">Hristo Vutov</a></h3>
        <img src="images/creators/person.png" alt="Hristo Vutov">
    </li>
    <li>

        <h3><a href="https://github.com/nemalp">Lazarov</a></h3>
        <img src="images/creators/plazarov.jpg" alt="Lazarov">
    </li>

</section>

<section class="col-xs-12 col-sm-4 col-lg-3">
    <li>
        <h3><a href="https://github.com/zdravko7">Zdravko</a></h3>
        <img src="images/creators/person.png" alt="Zdravko">
    </li>
    <li>
        <h3><a href="https://github.com/bewolf">Georgi Matsov</a></h3>
        <img src="images/creators/4173081.png" alt="Georgi Matsov">
    </li>
</section>
</main>
