<main>
<section class="col-xs-12 col-sm-4 col-lg-3">

    <li>
        <h3>Maria Dimitrova</h3>
        <img src="images/creators/person.png" alt="Maria Dimitrova">
    </li>
    <li>
        <h3>Hristo Vutov</h3>
        <img src="images/creators/person.png" alt="Hristo Vutov">
    </li>
    <li>

        <h3>Lazarov</h3>
        <img src="images/creators/person.png" alt="Lazarov">
    </li>

</section>

<section class="col-xs-12 col-sm-4 col-lg-3">

    <li>
        <h3>Zdravko</h3>
        <img src="images/creators/person.png" alt="Zdravko">
    </li>
    <li>
        <h3>Georgi Matsov</h3>
        <img src="images/creators/person.png" alt="Georgi Matsov">
    </li>
    <li>
        <h3>Georgi Matsov</h3>
        <img src="images/creators/person.png" alt="Georgi Matsov">
    </li>

</section>
</main>
