<div class="inner-wrap">
    <div class="row">
       <div class="navbar-form">
           <div class="input-group-btn">
               <button class="btn btn-default" id="createPost"></button>
           </div>
       </div>
        <div class="navbar-form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" id="searchTextBox">
                <div class="input-group-btn">
                    <button class="btn btn-default" id="searchButton"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div  class="row featured-posts">
        {{#posts}}
        <section class="col-xs-12 col-sm-4">
            <article class="featured-post" data-id="{{id}}">
                <img src="http://www.planwallpaper.com/static/images/background-gmail-google-images_FG2XwaO.jpg" alt="image">
                <header><h3>{{title}}</h3></header>
                <p>{{text}}</p>
            </article>
        </section>
        {{/posts}}
    </div>
</div>
