{{#posts}}
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <img src="images/img.jpg" style="max-width: 100%" alt="image">
        </div>
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{{title}}</h2>
                    {{text}}

                    <div id="tags">Tags: {{#tags}}
                        <a href="#/post/byTag/{{.}}">{{.}}</a>
                    {{/tags}}</div>
                </div>
                <div class="panel-footer"><div id="visit-count"></div></div>
            </div>
        </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
            <h3>Comments</h3>
        </div>
         <div class="comments col-xs-8 col-xs-offset-2"></div>
        <div class="col-xs-8 col-xs-offset-2">
        <h3>Leave a comment</h3>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name">
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name">
                </div>
            </div>
            <div class="form-group">
                <label for="feedback" class="col-sm-2 control-label">Your Comment</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="feedback" name="feedback" rows="12"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="addComment" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        </div>
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
        </div>

    </div>
</div>
{{/posts}}


